
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    -webkit-tap-highlight-color: transparent;
    scroll-behavior: smooth;
  }
  
  body {
    @apply bg-gray-50 text-gray-800 antialiased;
    font-family: 'EB Garamond', serif;
  }

  .font-garamond {
    font-family: 'EB Garamond', serif;
  }

  .font-cinzel {
    font-family: 'Cinzel', serif;
  }

  .container {
    @apply max-w-7xl;
  }

  /* Custom Scrollbar */
  ::-webkit-scrollbar {
    width: 8px;
  }
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  ::-webkit-scrollbar-thumb {
    background: #ccc;
    border-radius: 10px;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: #b3b3b3;
  }
}
